#{extends 'main.html' /}

	<nav class="ui secondary pointing menu">
		<div class="left menu">
			<h2>Bioscope</h2>
		</div>
		<div class="right menu">
			<a class="ui item" href="/signup"> Sign up </a> <a class="ui item"
				href="/login"> Sign in </a>
		</div>
	</nav>
	
	<section style="background: url(/public/images/${movie.id}.jpg); background-size: cover; padding-top: 20em;">
	</section>
	
	<section>
		<div class="ui one column center aligned padded grid">
		<h1>${movie.title}</h1>
		</div>
	</section>
