#{extends 'main.html' /} #{set title:'Bioscope' /}

	<nav class="ui secondary pointing menu">
		<div class="left menu">
			<h2><i class="film icon"></i> Bioscope </h2>
		</div>
		<div class="right menu">
			<a class="ui item" href="/editaccount"> My Account </a> <a class="ui item"
				href="/logout"> Log out </a>
		</div>
	</nav>
	
	<section>
		<div class="ui two column responsive center aligned padded grid">
			<div class="column" style="background: url(https://s-media-cache-ak0.pinimg.com/564x/77/be/db/77bedb43147a7a478aff22f470567bbb.jpg); background-size: cover; opacity: 0.4;"></div>
			<div class="black column" style="padding: 18em 0;"><h1>Hello, ${user.firstName}</h1></div>
		</div>
		<div class="ui one column responsive center aligned padded grid">
			<div class="column" style="padding: 10em 0;">
				<h2>Recommendations for you</h2> <br />
				<ul>
				#{list items: movies, as: 'movie'} 
					<li style="padding: 1em 0;"><h2 style="font-weight: normal; margin: 0"><a href="/movies/${movie.id}">${movie.title}</a></h2>
						Average rating: ${movie.averageRating()}
						#{if movie.averageRating()  > 1 }
							<i class="smile icon"></i> <br /><br />
						#{/if}
						#{elseif movie.averageRating()  >= 0 }
						    <i class="meh icon"></i> <br /><br />
						#{/elseif}
						#{else}
						    <i class="frown icon"></i> <br /><br />
						#{/else}
					</li>
				#{/list}
				</ul>
			</div>
		</div>
	</section>
	
	<section>
		<div class="ui one column center aligned padded grid">
			<div class="black column" style="padding: 10em 0;">
				<h2>Movies rated by you:</h2> <br /> 
				<ul>
				#{list items: user.getRatings(), as: 'rating'} 
					<li><a href="/movies/${rating.movieId}">${rating.movieId}</a> &rsaquo; ${rating.rating}</li>
				#{/list}
				</ul>
			</div>
		</div>
	</section>
	
	<section class="topTen">
		<div class="ui two column center aligned padded grid">
		<div class="column" style="padding: 5em 0;">
			<h2>Popular movies</h2>
		</div>
		%{
			index = 0;
     		for(movie in topTen) { 
     			if(index % 2 == 0) {
		}%
				<div class="row">
					<div class="column" style="background: url(/public/images/${movie.id}.jpg); background-size: cover;"></div>
					<div class="black column" style="padding: 15em 0;">
						<h3>${movie.title}</h3>
						<a href="/movies/${movie.id}">movie details</a>
					</div>
				</div>
		%{
				}
				else {
		}%
				<div class="row">
					<div class="black column" style="padding: 15em 5em;">
						<h3>${movie.title}</h3>
						<a href="/movies/${movie.id}">movie details</a>
					</div>
					<div class="column" style="background: url(/public/images/${movie.id}.jpg) center center;"></div>
				</div>
		%{
				}
				index++;
		     }
		}%
		</div>
	</section>