#{extends 'main.html' /} #{set title:'Bioscope' /}

	<nav class="ui secondary pointing menu">
		<div class="left menu">
			<h2>Bioscope</h2>
		</div>
		<div class="right menu">
			<a class="ui item" href="/editaccount"> My Account </a> <a class="ui item"
				href="/logout"> Log out </a>
		</div>
	</nav>
	
	<section>
		<div class="ui one column center aligned padded grid">
			<div class="column"><h1>Hello, ${user.firstName}</h1></div>
			<div class="column">
				Your recommendations: <br /> 
				<ul>
				#{list items: movies, as: 'movie'} 
					<li>${movie.title}</li>
				#{/list}
				</ul>
			</div>
		</div>
	</section>
	
	<section>
		<div class="ui one column center aligned padded grid">
			<div class="column"><h1>Hello, ${user.firstName}</h1></div>
			<div class="column">
				Your recommendations: <br /> 
				<ul>
				#{list items: user.getRatings(), as: 'rating'} 
					<li>${rating.rating}</li>
				#{/list}
				</ul>
			</div>
		</div>
	</section>