#{extends 'main.html' /} #{set title:'Bioscope' /}

	<nav class="ui secondary pointing menu">
		<div class="left menu">
			<h2><i class="film icon"></i> Bioscope</h2>
		</div>
		<div class="right menu">
			<a class="ui item" href="/signup"> Sign up </a> <a class="ui item"
				href="/login"> Sign in </a>
		</div>
	</nav>
	
	<section class="topTen">
		<div class="ui two column responsive center aligned padded grid">
		%{
			index = 0;
     		for(movie in topTen) { 
     			if(index % 2 == 0) {
		}%
				<div class="row">
					<div class="column" style="background: url(/public/images/${movie.id}.jpg); background-size: cover;"></div>
					<div class="black column" style="padding: 15em 0;">
						<h3>${movie.title}</h3>
						<a href="/movies/${movie.id}">movie details</a>
					</div>
				</div>
		%{
				}
				else {
		}%
				<div class="row">
					<div class="black column" style="padding: 15em 5em;">
						<h3>${movie.title}</h3>
						<a href="/movies/${movie.id}">movie details</a>
					</div>
					<div class="column" style="background: url(/public/images/${movie.id}.jpg); background-size: cover;"></div>
				</div>
		%{
				}
				index++;
		     }
		}%
		</div>
	</section>
