#{extends 'main.html' /}
#{set title:'Login to Bioscope' /}

	<nav class="ui secondary pointing menu">
		<div class="left menu">
			<h2><i class="film icon"></i> Bioscope </h2>
		</div>
		<div class="right menu">
			<a class="ui item" href="/signup"> Sign up </a> 
			<a class="ui item" href="/login"> Sign in </a>
		</div>
	</nav>

	<section class="ui two column middle aligned centered grid container">
		<div class="column">
			<h3 class="form">Log in to Bioscope</h2>
		
			<form class="ui account-post reply form" action="/authenticate" method="POST">
				<div class="field">
					<label>Username: </label>
					<input type="text" name="username">
				</div>
				
				<div class="field">
					<label>Password: </label>
					<input type="password" name="password">
				</div>
				<button class="ui submit button">Login</button>
			</form>
		</div>
	</section>