#{extends 'main.html' /} #{set title:'Sign Up' /}

	<nav class="ui secondary pointing menu">
		<div class="left menu">
			<h2><i class="film icon"></i> Bioscope </h2>
		</div>
		<div class="right menu">
			<a class="ui item" href="/signup"> Sign up </a> 
			<a class="ui item" href="/login"> Sign in </a>
		</div>
	</nav>
	
	<section class="ui ui two column middle aligned centered grid container">
		<div class="column">
			<h3 class="form">Sign up to Bioscope</h3>
	
			<form class="ui reply form account-post" action="/register" method="POST">
				<div class="two fields">
					<div class="field">
						<label>First Name</label> <input placeholder="First Name"
							type="text" name="firstName">
					</div>
					<div class="field">
						<label>Last Name</label> <input placeholder="Last Name" type="text"
							name="lastName">
					</div>
				</div>
				<div class="two fields">
					<div class="field">
						<label>Age</label> <input placeholder="Age" type="text" name="age">
					</div>
					<div class="field"></div>
				</div>
				<div class="field">
					<label>Username</label> <input placeholder="Username" type="text"
						name="username">
				</div>
				<div class="field">
					<label>Password</label> <input type="password" name="password">
				</div>
				<button class="ui submit button">Sign up</button>
			</form>
	
		</div>
	</section>
